In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)





# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Input data
train_data = pd.read_csv('../input/titanic/train.csv')
test_data = pd.read_csv('../input/titanic/test.csv')

In [4]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train_data.drop(columns={'Cabin','Name'}, axis = 1, inplace = True)
test_data.drop(columns={'Cabin','Name'}, axis = 1, inplace = True)

In [7]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [8]:
#Encode missing valaues of Age and Fill embarked
train_data['Age'].fillna(train_data['Age'].median(),inplace=True)
train_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [9]:
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S

In [10]:
train_data['Embarked'].fillna('S',inplace=True)
train_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [11]:
train_data.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,female,35.0,1,0,113803,53.1000,S
4,5,0,3,male,35.0,0,0,373450,8.0500,S

**Change all characters into integers**

In [12]:
change = {'S':1,'C':2,'Q':0}
train_data.Embarked = train_data.Embarked.map(change)
test_data.Embarked = test_data.Embarked.map(change)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     891 non-null    int64
dtypes: float64(2), int64(6), object(2)
memory usage: 69.7+ KB

In [13]:
train_data.Sex = train_data.Sex.map({'male':0, 'female':1})
test_data.Sex = test_data.Sex.map({'male':0, 'female':1})
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int64
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 29.5+ KB

In [14]:
train_data = train_data.drop(columns={'Ticket'},axis = 1)

In [15]:
test_data = test_data.drop(columns={'Ticket'},axis = 1)

In [16]:
X_train = train_data.drop(columns={"Survived",'PassengerId'}, axis=1)
Y_train = train_data["Survived"]
X_test = test_data.drop("PassengerId", axis = 1)
print("shape of X_train",X_train.shape)
print("Shape of Y_train",Y_train.shape)
print("Shape of x_test",X_test.shape)

shape of X_train (891, 7)
Shape of Y_train (891,)
Shape of x_test (418, 7)

In [17]:
X_train

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    0  22.0      1      0   7.2500         1
1         1    1  38.0      1      0  71.2833         2
2         3    1  26.0      0      0   7.9250         1
3         1    1  35.0      1      0  53.1000         1
4         3    0  35.0      0      0   8.0500         1
..      ...  ...   ...    ...    ...      ...       ...
886       2    0  27.0      0      0  13.0000         1
887       1    1  19.0      0      0  30.0000         1
888       3    1  28.0      1      2  23.4500         1
889       1    0  26.0      0      0  30.0000         2
890       3    0  32.0      0      0   7.7500         0

[891 rows x 7 columns]

In [18]:
import tensorflow as tf
import keras 
from keras.layers import Dense, Dropout, Input
from keras.models import Sequential

In [19]:
model = Sequential()
model.add(Dense(units = 32, input_shape = (7,), activation = 'relu'))
model.add(Dense(units = 64, activation = 'relu', kernel_initializer = 'he_normal', use_bias = False))
model.add(tf.keras.layers.BatchNormalization())
model.add(Dense(units = 128, activation = 'relu',kernel_initializer = 'he_normal', use_bias = False))
model.add(Dropout(0.1))
model.add(Dense(units = 64, activation = 'relu',kernel_initializer = 'he_normal', use_bias = False))
model.add(Dropout(0.1))
model.add(Dense(units = 32, activation = 'relu'))
model.add(Dropout(0.15))
model.add(Dense(units = 16, activation = 'relu'))
model.add(Dense(units = 8, activation = 'relu',kernel_initializer = 'he_normal', use_bias = False))
model.add(Dense(units =1 , activation = 'sigmoid'))

2022-08-16 00:45:09.407361: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                256
_________________________________________________________________
dense_1 (Dense)              (None, 64)                2048
_________________________________________________________________
batch_normalization (BatchNo (None, 64)                256
_________________________________________________________________
dense_2 (Dense)              (None, 128)               8192
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8192
_________________________________________________________________
dropout_1 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_4 (Dense)              (None, 32)                2080
_________________________________________________________________
dropout_2 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_5 (Dense)              (None, 16)                528
_________________________________________________________________
dense_6 (Dense)              (None, 8)                 128
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 9
=================================================================
Total params: 21,689
Trainable params: 21,561
Non-trainable params: 128
_________________________________________________________________

In [21]:
model.compile(loss = tf.keras.losses.binary_crossentropy, optimizer = tf.keras.optimizers.Adam(), metrics = ['acc'])
model.fit(X_train, Y_train, batch_size = 32, verbose = 2, epochs = 75)

Epoch 1/75

2022-08-16 00:45:10.184538: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

28/28 - 1s - loss: 0.6978 - acc: 0.5264
Epoch 2/75
28/28 - 0s - loss: 0.6386 - acc: 0.6633
Epoch 3/75
28/28 - 0s - loss: 0.6286 - acc: 0.6655
Epoch 4/75
28/28 - 0s - loss: 0.6083 - acc: 0.6734
Epoch 5/75
28/28 - 0s - loss: 0.5922 - acc: 0.6813
Epoch 6/75
28/28 - 0s - loss: 0.5694 - acc: 0.7228
Epoch 7/75
28/28 - 0s - loss: 0.5715 - acc: 0.7015
Epoch 8/75
28/28 - 0s - loss: 0.5821 - acc: 0.7048
Epoch 9/75
28/28 - 0s - loss: 0.5498 - acc: 0.7318
Epoch 10/75
28/28 - 0s - loss: 0.5285 - acc: 0.7486
Epoch 11/75
28/28 - 0s - loss: 0.5243 - acc: 0.7531
Epoch 12/75
28/28 - 0s - loss: 0.5191 - acc: 0.7677
Epoch 13/75
28/28 - 0s - loss: 0.5047 - acc: 0.7677
Epoch 14/75
28/28 - 0s - loss: 0.4861 - acc: 0.7778
Epoch 15/75
28/28 - 0s - loss: 0.4637 - acc: 0.7969
Epoch 16/75
28/28 - 0s - loss: 0.4703 - acc: 0.7912
Epoch 17/75
28/28 - 0s - loss: 0.4711 - acc: 0.7789
Epoch 18/75
28/28 - 0s - loss: 0.4745 - acc: 0.7924
Epoch 19/75
28/28 - 0s - loss: 0.4567 - acc: 0.7935
Epoch 20/75
28/28 - 0s - loss: 0.4589 - acc: 0.7969
Epoch 21/75
28/28 - 0s - loss: 0.4601 - acc: 0.7969
Epoch 22/75
28/28 - 0s - loss: 0.4456 - acc: 0.7924
Epoch 23/75
28/28 - 0s - loss: 0.4545 - acc: 0.8025
Epoch 24/75
28/28 - 0s - loss: 0.4605 - acc: 0.7957
Epoch 25/75
28/28 - 0s - loss: 0.4494 - acc: 0.8002
Epoch 26/75
28/28 - 0s - loss: 0.4461 - acc: 0.8103
Epoch 27/75
28/28 - 0s - loss: 0.4368 - acc: 0.8081
Epoch 28/75
28/28 - 0s - loss: 0.4212 - acc: 0.8249
Epoch 29/75
28/28 - 0s - loss: 0.4389 - acc: 0.8002
Epoch 30/75
28/28 - 0s - loss: 0.4391 - acc: 0.8148
Epoch 31/75
28/28 - 0s - loss: 0.4301 - acc: 0.8081
Epoch 32/75
28/28 - 0s - loss: 0.4524 - acc: 0.7969
Epoch 33/75
28/28 - 0s - loss: 0.4405 - acc: 0.8013
Epoch 34/75
28/28 - 0s - loss: 0.4336 - acc: 0.8092
Epoch 35/75
28/28 - 0s - loss: 0.4407 - acc: 0.8092
Epoch 36/75
28/28 - 0s - loss: 0.4458 - acc: 0.8058
Epoch 37/75
28/28 - 0s - loss: 0.4320 - acc: 0.8148
Epoch 38/75
28/28 - 0s - loss: 0.4251 - acc: 0.8103
Epoch 39/75
28/28 - 0s - loss: 0.4363 - acc: 0.8137
Epoch 40/75
28/28 - 0s - loss: 0.4213 - acc: 0.8148
Epoch 41/75
28/28 - 0s - loss: 0.4130 - acc: 0.8215
Epoch 42/75
28/28 - 0s - loss: 0.4340 - acc: 0.8171
Epoch 43/75
28/28 - 0s - loss: 0.4311 - acc: 0.8081
Epoch 44/75
28/28 - 0s - loss: 0.4256 - acc: 0.8103
Epoch 45/75
28/28 - 0s - loss: 0.4232 - acc: 0.8092
Epoch 46/75
28/28 - 0s - loss: 0.4214 - acc: 0.8137
Epoch 47/75
28/28 - 0s - loss: 0.4185 - acc: 0.8193
Epoch 48/75
28/28 - 0s - loss: 0.4003 - acc: 0.8215
Epoch 49/75
28/28 - 0s - loss: 0.4189 - acc: 0.8215
Epoch 50/75
28/28 - 0s - loss: 0.4343 - acc: 0.8103
Epoch 51/75
28/28 - 0s - loss: 0.4226 - acc: 0.8159
Epoch 52/75
28/28 - 0s - loss: 0.4086 - acc: 0.8204
Epoch 53/75
28/28 - 0s - loss: 0.4168 - acc: 0.8114
Epoch 54/75
28/28 - 0s - loss: 0.4224 - acc: 0.8215
Epoch 55/75
28/28 - 0s - loss: 0.4130 - acc: 0.8148
Epoch 56/75
28/28 - 0s - loss: 0.4193 - acc: 0.8126
Epoch 57/75
28/28 - 0s - loss: 0.3992 - acc: 0.8204
Epoch 58/75
28/28 - 0s - loss: 0.4149 - acc: 0.8238
Epoch 59/75
28/28 - 0s - loss: 0.4219 - acc: 0.8137
Epoch 60/75
28/28 - 0s - loss: 0.4105 - acc: 0.8283
Epoch 61/75
28/28 - 0s - loss: 0.4160 - acc: 0.8272
Epoch 62/75
28/28 - 0s - loss: 0.4531 - acc: 0.7924
Epoch 63/75
28/28 - 0s - loss: 0.4218 - acc: 0.8204
Epoch 64/75
28/28 - 0s - loss: 0.4286 - acc: 0.8193
Epoch 65/75
28/28 - 0s - loss: 0.4242 - acc: 0.8058
Epoch 66/75
28/28 - 0s - loss: 0.4292 - acc: 0.8137
Epoch 67/75
28/28 - 0s - loss: 0.4332 - acc: 0.8058
Epoch 68/75
28/28 - 0s - loss: 0.4290 - acc: 0.8092
Epoch 69/75
28/28 - 0s - loss: 0.4276 - acc: 0.8193
Epoch 70/75
28/28 - 0s - loss: 0.4458 - acc: 0.7969
Epoch 71/75
28/28 - 0s - loss: 0.4365 - acc: 0.8137
Epoch 72/75
28/28 - 0s - loss: 0.4224 - acc: 0.8193
Epoch 73/75
28/28 - 0s - loss: 0.4210 - acc: 0.8182
Epoch 74/75
28/28 - 0s - loss: 0.4223 - acc: 0.8013
Epoch 75/75
28/28 - 0s - loss: 0.4451 - acc: 0.8058

In [22]:
predict = model.predict(X_test)
predict = (predict > 0.5).astype(int).ravel()
print(predict)

[0 0 0 0 1 0 1 0 1 0 1 0 1 0 1 1 0 0 0 0 0 0 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1
 1 0 1 0 1 0 1 1 0 0 1 1 1 0 0 1 1 1 0 0 0 1 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 0 1 0 1 0 1 0 0 1 1 0 0
 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 0 1 0 0 0 0 1 1 0 0 0 0 1 0 0 1 1 0 0 0 1 0
 1 0 1 1 1 0 0 0 1 1 0 1 1 1 1 1 0 1 0 0 1 1 1 0 0 1 0 1 1 0 1 1 0 1 1 1 1
 0 1 0 1 0 0 1 0 0 1 0 1 1 0 1 1 1 1 1 0 1 1 0 1 0 0 1 0 1 0 0 1 1 1 1 1 0
 1 0 1 1 0 1 0 0 0 1 0 1 0 0 0 0 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 0 0 1 1 0 1
 0 0 0 1 1 0 1 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 0 0
 1 1 0 0 0 1 0 0 1 1 1 1 0 1 0 0 1 1 1 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 1
 1 0 0 0 0 0 1 0 0 1 1 1 1 0 0 0 1 1 0 0 0 1 0 1 1 1 1 0 1 1 0 1 1 1 1 1 0
 0 1 0 0 1 1 0 0 0 0 1 0 1 1 1 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 1 1 1 1 1 1 1 1 0 1 1]