In [1]:
#importing required libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import sklearn.metrics as metrics
from sklearn.metrics import classification_report

In [2]:
#reading training data
train = pd.read_csv("/kaggle/input/titanic/train.csv")

In [3]:
#first 5 rows
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#number of nulls in each column
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
#checking data type 
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
numerical_sex = le.fit_transform(train['Sex'])
train['Sex'] = numerical_sex

In [7]:
train['Age'].fillna(train['Age'].median(),inplace=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

In [8]:
train=train.drop(columns=['Name','Ticket','Embarked','Cabin'],axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [9]:
#select columns to be used in training
colunas = ['Sex','Age','SibSp','Fare']
X = train[colunas]
y = train.Survived

In [10]:
#there is a need for pre-processing in the other fields
#split dataset into trainig and testing data from training data
train_X, val_X, train_y, val_y = train_test_split(X,y,random_state = 0)
print(X)

     Sex   Age  SibSp     Fare
0      1  22.0      1   7.2500
1      0  38.0      1  71.2833
2      0  26.0      0   7.9250
3      0  35.0      1  53.1000
4      1  35.0      0   8.0500
..   ...   ...    ...      ...
886    1  27.0      0  13.0000
887    0  19.0      0  30.0000
888    0  28.0      1  23.4500
889    1  26.0      0  30.0000
890    1  32.0      0   7.7500

[891 rows x 4 columns]

In [11]:
model = DecisionTreeClassifier(random_state=1)
model.fit(train_X,train_y)

DecisionTreeClassifier(random_state=1)

In [12]:
#testing on test data
val_X.info()
prediction = model.predict(val_X)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223 entries, 495 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     223 non-null    int64
 1   Age     223 non-null    float64
 2   SibSp   223 non-null    int64
 3   Fare    223 non-null    float64
dtypes: float64(2), int64(2)
memory usage: 8.7 KB

In [13]:
prediction

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0])

In [14]:
metrics.accuracy_score(val_y, prediction)

0.7668161434977578

In [15]:
print(classification_report(val_y,prediction))

              precision    recall  f1-score   support

           0       0.80      0.83      0.82       139
           1       0.71      0.65      0.68        84

    accuracy                           0.77       223
   macro avg       0.75      0.74      0.75       223
weighted avg       0.76      0.77      0.76       223

In [16]:
Person = [[0, 25, 0, 7.25]]
print(model.predict(Person))

[1]

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"